html{
    background-image: url('img/cream_pixels.png');
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: #2db3e8;
}

.underline{
    text-decoration: underline;  
}

.center{
    text-align: center;
}

.red{
    color: red;
}

.width1000{
    width: 1000px;
    margin: auto;
}

.width800{
    width: 800px;
    margin: auto;
}

.width500{
    width: 500px;
    margin: auto;
}

.right{
    float: right;
}

.left{
    float: left;
}

.menuAccordion{
    background: linear-gradient(to bottom, #FFFFFF, #FAFAFA);
    padding: 20px;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: inset 0px 1px 0 rgba(255,255,255,1);
    border: 1px solid;
    border-color: rgba(0,0,0,0.1);
    border-bottom-color: rgba(0,0,0,0.2);
}

/*Catalogue Catégorie*/
.accordion{
    list-style: none;
    width: 248px;
    float: left;
    padding-left: 0px;
    border: 1px solid black;
    margin-top: 0px;
}

.accordion li{

}

#right{
    float: left;
    width: 690px;
}

.right_content{
    text-align: center;
    padding: 0px;
    margin-top: 0px;
}

.right_content li{
    padding-right: 15px;
    padding-left: 15px;
}

.right_content .img_index{
    text-align: center;
    margin: auto;
}

#logintop {
    position: fixed;
    left: 40%;
    top: 5%;
    padding: 50px;
    border-radius: 5px;
    background: linear-gradient(to bottom, #FFFFFF, #FAFAFA);
    box-shadow: inset 0px 1px 0 rgba(255,255,255,1);
    z-index: 999;
    border: 1px solid;
    border-color: rgba(0,0,0,0.1);
    border-bottom-color: rgba(0,0,0,0.2);
}



.sub-menu {
    display: none;
}

.accordion li:target > .sub-menu {
    display: block;
}

.formvalid{
    color: black;
    background-image: none;
    background-color: transparent;
    cursor: pointer;
    border:none;
    width: auto;
}

#basketTable{
    width: 800px; 
    margin: auto; 
    margin-top: 25px; 
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#basketTable th,#basketTable td{
    border: 1px solid black;
}

#basketTable th{
    color: #2db3e8;
}

.classButton{
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    background-color: #2db3e8;
    text-decoration: none;
    border: none;
    margin-top: 15px;
}

#userSettings label{
    display: block;
    width: 6em;
    float: left;
}

.spaceBot{
    padding-bottom: 15px;
    padding-top: 15px;
}

.miniCart{

    text-align: center;
}

.minicart_con{
    position: absolute;
    max-height: 450px;
    width: 450px;
    overflow-x: auto;
    border: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    background: #fff;
    margin-left: -192px;
}

.minicart_item_list{
    list-style: none; 
    padding: 0px;
}

.productDetails{
    position: fixed;
    left: 40%;
    top: 5%;
    padding: 50px;
    border-radius: 5px;
    background-color: white;
    display: none;
    z-index: 999;
}

.ui-menu .ui-menu-item a{
    padding: 0px !important;
    line-height: 1 !important;
    font-weight: initial !important;
}

.ui-widget{
    font-size: 12px !important;
}

.ui-autocomplete {
    max-height: 100px !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 100px;
}